services:
  backend:
    build:
      context: ./backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env.dev
    environment:
      NODE_ENV: production

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: http://localhost:3000
    ports:
      - "4173:4173"
    depends_on:
      - backend
